$header-bg : #3C5E7C;
$li-titles:#181B1E;
$label: #2A343D;
$button: #384E61;
$button-active: #2E3740;
$bg-input: #2A3036;
$danger: #D62828;
$sucess:#2BE456;
$logo:#28A745;
$white: #fff;

@font-face {
  font-family: 'Roboto-R' ;
  src: url('../../public/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-M' ;
  src: url('../../public/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Poppins-R';
  src: url('../../public/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-M';
  src: url('../../public/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'QuickSand-R';
  src: url('../../public/Quicksand-Regular.ttf');
}

@font-face {
  font-family: 'QuickSand-M';
  src: url('../../public/Quicksand-Medium.ttf');
}

@font-face {
  font-family: 'Garamond-M';
  src: url('../../public/EBGaramond-Medium.ttf');
}

.container{
  padding: 20px;

  div{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;

    h1{
      font-family: "Montserrat";
      font-size: 3rem;
      color: #181B1E;
      margin: 40px 0px;
    }
  }

  h3{
    margin-bottom: 12px;
  }
}